#bg
{
    width: 99%;
    height:100%;
    border-radius: 10px;
    margin: .5%;
    position: relative;
    display: inline-block;
}

#bg img
{
    width: 100%;
    height:100%;
    border-radius: 10px;
}

#text-box
{
    vertical-align: middle;
    width:50%;
    background: rgba(0,0,0,.75);
    position:absolute;
    top:10%;
    left:25%;
    display:inline-block;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    text-align:center;
    color:white;
    border-radius: 10px;
    font-size:2em;
}

#twit-image
{
    width: 2em;
    height: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5em;
    background-image: url("/cyclefitness/img/twitter.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}