*
{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Trebuchet MS", Helvetica, sans-serif
}

html,
body
{
  height: 100%;
  padding: 0;
  margin: 0;
}

body
{
  background: url(../img/pearl-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 1280px;
}

h1:not(#homeh1)
{
  margin-top: 5px;
  margin-bottom: 5px;
  background: rgba(1,1,1,.5);
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  text-align: center;
  transition: all ease 200ms;
}

h1:not(#homeh1):hover
{
  background: rgba(1,1,1,.75);
}

#wrapper
{
  min-height: 100%;
  position: relative;
  padding-bottom: 10px;
}

#header
{

}

#content
{
  width: 100%;
  padding-bottom: 110px;
}

#footer
{
  width: 100%;
  position: absolute;
  margin-top: 10px;
  bottom: 0;
  left: 0;
  background: rgba(1,1,1,.75);
  color: aliceblue;
  transition: ease all 200ms;
}

#footer:not(#homeh1):hover
{
  background: rgba(1,1,1,.9);
}


.noselect
{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:link
{
  color: orange;
}

a:visited
{
  color: #cb0a08;
}

a:active
{
  color: #d8631d;
}

::-moz-selection { /* Code for Firefox */
  background: #d8631d;
}

::selection {
  background: #d8631d;
}

#company
{
  border-right: dashed #ffffff 1px;
}

.subfooter
{
  width: 50%;
  height: 100%;
  line-height: .5;
  display: inline-block;
}

.subfooter a:link, .subfooter a:visited, .subfooter a:active
{
  color: aliceblue;
}

.subfooter a
{
  text-decoration: none;
}