*
{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Trebuchet MS", Helvetica, sans-serif
}

html,
body
{
  height: 100%;
  padding: 0;
  margin: 0;
}

body
{
  background: url(../img/pearl-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 1300px;
}

#wrapper
{
  min-height: 100%;
  position: relative;
  padding-bottom: 10px;
}

#header
{

}

#content
{
  width: 100%;
  padding-bottom: 90px;
}



#footer
{
  background: hsla(0, 0%, 0%, 0.80);
  height: 90px;
  width: 99%;
  border-radius: 10px;
  margin-left: .5%;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer-table
{
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.footer-text
{
  color: aliceblue;
  vertical-align: middle;
  display: table-cell;
}

.noselect
{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}